[project]
	description = RTCGit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/npraveenk1
[access "refs/for/refs/*"]
	read = group user/npraveenk1
	push = group user/npraveenk1
	label-Code-Review = -2..+2 group user/npraveenk1
	label-Verified = -1..+1 group user/npraveenk1
	rebase = group user/npraveenk1
	removeReviewer = group user/npraveenk1
	submit = group user/npraveenk1
[access "refs/heads/*"]
	read = group user/npraveenk1
	create = group user/npraveenk1
	push = +force group user/npraveenk1
	pushMerge = group user/npraveenk1
[access "refs/tags/*"]
	push = group user/npraveenk1
	push = +force group user/npraveenk1
